<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.oneplus.ace3v"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.boot.prjname"
                android:requiredSystemPropertyValue="23803"
        android:priority="2383"
        android:isStatic="true" />
</manifest>
