<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.realme.r14proplus"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.boot.prjname"
                android:requiredSystemPropertyValue="+(24607|24697|24698)"
        android:priority="2469"
        android:isStatic="true" />
</manifest>
